<section class="section is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">WHY PARTNERWITH US?</h2>
            <div class="divider is-centered"></div>
        </div>

        <div class="content-wrapper">
            <div class="columns is-multiline icon-list is-centered">
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-github" size="large"></ion-icon>
                        </div>
                        <h4>Work Whenever, Wherever</h4>
                        <p>Work for your goals.</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-bitbucket" size="large"></ion-icon>
                        </div>
                        <h4>Earn for your goals</h4>
                        <p>Reach your dreams by partnering with us.</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-slack" size="large"></ion-icon>
                        </div>
                        <h4>Reach your dreams by partnering with us. </h4>
                        <p>Safety training and perks coverage during your trip.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>