<section class="hero is-fullheight is-default is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-5 is-offset-1 landing-caption">
                    <h1 class="title is-1 is-bold is-spaced">
                        Good food for every mood
                    </h1>
                    <div class="button-wrap">
                        <a class="button cta is-rounded primary-btn raised">
                            Get Started
                        </a>
                        <a class="button cta is-rounded">
                            Download App
                        </a>
                    </div>
                </div>
                <div class="column is-5">
                        <img src="{{'assets/img/map1.svg'|theme}}" alt="Description">
                </div>

            </div>
        </div>
    </div>

    <div class="hero-foot mb-20">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li><a><img class="partner-logo" src="{{'assets/img/logos/clients/systek.svg'|theme}}"></a></li>
                    <li><a><img class="partner-logo" src="{{'assets/img/logos/clients/tribe.svg'|theme}}"></a></li>
                    <li><a><img class="partner-logo" src="{{'assets/img/logos/clients/kromo.svg'|theme}}"></a></li>
                    <li><a><img class="partner-logo" src="{{'assets/img/logos/clients/infinite.svg'|theme}}"></a></li>
                    <li><a><img class="partner-logo" src="{{'assets/img/logos/clients/gutwork.svg'|theme}}"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>