<section class="section is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">Our Services</h2>
            <h3 class="subtitle is-5 is-muted">To make you super happy</h3>
            <div class="divider is-centered"></div>
        </div>

        <div class="columns is-vcentered side-feature mt-60">
            <div class="column is-4 is-offset-2  m-centered">
                <h3 class="title is-3 mb-10 is-title-reveal">Satisfy your appetite</h2>
                <p class="subtitle is-5 is-muted">From breakfast meal deals to late-night chill we got you!</p>
            </div>
            <div class="column is-5">
                <img src="{{'assets/img/illustrations/features/feature-1.png'|theme}}" alt="">
            </div>
        </div>

        <div class="columns is-vcentered side-feature mt-60">
            <div class="column is-5 is-offset-1 is-hidden-mobile">
                <img src="{{'assets/img/illustrations/features/feature-2.png'|theme}}" alt="">
            </div>
            <div class="column is-4 is-offset-1  m-centered">
                <h3 class="title is-3 mb-10 is-title-reveal">Explore and Track</h2>
                <p class="subtitle is-5 is-muted">Select various restaurants around the city and track your meal up to your doorstep.</p>
            </div>
            <div class="column is-5 is-offset-1 is-hidden-desktop is-hidden-tablet">
                <img src="{{'assets/img/illustrations/features/feature-2.png'|theme}}" alt="">
            </div>
        </div>

        <div class="columns is-vcentered side-feature mt-60">
            <div class="column is-4 is-offset-2  m-centered">
                <h3 class="title is-3 mb-10 is-title-reveal">Deals</h2>
                <p class="subtitle is-5 is-muted">Order any food you want and enjoy every meal with great deals!</p>
            </div>
            <div class="column is-5">
                <img src="{{'assets/img/illustrations/features/feature-1.png'|theme}}" alt="">
            </div>
        </div>
    </div>
</section>