[session]
security = "all"

[cartButton]
cartPage = "merchant/cart"
colorBG = "#00DBC7"
color = "#FFFFFF"
position = "bottom-right"
hideOnEmpty = 1
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> Gofer - {{ this.page.title }}</title>
        <link rel="icon" type="image/png" href="{{'assets/img/logo1.png'|theme}}" />

        <!--Core CSS -->
        <link rel="stylesheet" href="{{ 'assets/css/aos.css'|theme }}">        
        <link rel="stylesheet" href="{{ 'assets/css/slick.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/slick-theme.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/owl.carousel.min.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/owl.theme.default.min.css'|theme }}">

        <script src="https://kit.fontawesome.com/e4f742994b.js" crossorigin="anonymous"></script>
        

        <link rel="stylesheet" type="text/css" href="{{ 'assets/dist/css/gofer.css'|theme }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">

        <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>          
        {% partial 'site/side-navbar' %}
        <main class="main-account dash-body">

            {% page %}

        </main>
{% component 'cartButton' %}
        {% partial 'site/acct-scripts' %}

        <style type='text/css'>
            .embeddedServiceHelpButton .helpButton .uiButton {
                background-color: #005290;
                font-family: "Arial", sans-serif;
            }
            .embeddedServiceHelpButton .helpButton .uiButton:focus {
                outline: 1px solid #005290;
            }
        </style>
        
        <script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
        <script type='text/javascript'>
            var initESW = function(gslbBaseURL) {
                embedded_svc.settings.displayHelpButton = true; //Or false
                embedded_svc.settings.language = ''; //For example, enter 'en' or 'en-US'
        
                //embedded_svc.settings.defaultMinimizedText = '...'; //(Defaults to Chat with an Expert)
                //embedded_svc.settings.disabledMinimizedText = '...'; //(Defaults to Agent Offline)
        
                //embedded_svc.settings.loadingText = ''; //(Defaults to Loading)
                //embedded_svc.settings.storageDomain = 'yourdomain.com'; //(Sets the domain for your deployment so that visitors can navigate subdomains during a chat session)
        
                // Settings for Chat
                //embedded_svc.settings.directToButtonRouting = function(prechatFormData) {
                    // Dynamically changes the button ID based on what the visitor enters in the pre-chat form.
                    // Returns a valid button ID.
                //};
                //embedded_svc.settings.prepopulatedPrechatFields = {}; //Sets the auto-population of pre-chat form fields
                //embedded_svc.settings.fallbackRouting = []; //An array of button IDs, user IDs, or userId_buttonId
                //embedded_svc.settings.offlineSupportMinimizedText = '...'; //(Defaults to Contact Us)
        
                embedded_svc.settings.enabledFeatures = ['LiveAgent'];
                embedded_svc.settings.entryFeature = 'LiveAgent';
        
                embedded_svc.init(
                    'https://ap16.salesforce.com',
                    'https://gofer.force.com/liveAgentSetupFlow',
                    gslbBaseURL,
                    '00D2w00000FZyVr',
                    'Chat_Group',
                    {
                        baseLiveAgentContentURL: 'https://c.la2-c2-ukb.salesforceliveagent.com/content',
                        deploymentId: '5722w0000001330',
                        buttonId: '5732w00000017sx',
                        baseLiveAgentURL: 'https://d.la2-c2-ukb.salesforceliveagent.com/chat',
                        eswLiveAgentDevName: 'Chat_Group',
                        isOfflineSupportEnabled: true
                    }
                );
            };
        
            if (!window.embedded_svc) {
                var s = document.createElement('script');
                s.setAttribute('src', 'https://ap16.salesforce.com/embeddedservice/5.0/esw.min.js');
                s.onload = function() {
                    initESW(null);
                };
                document.body.appendChild(s);
            } else {
                initESW('https://service.force.com');
            }
        </script>
    </body>  
</html>