[viewBag]
snippetCode = "merchantHero"
snippetName = "Merchant - Hero"
snippetProperties[heroTitle][title] = "Title"
snippetProperties[heroTitle][type] = "string"
snippetProperties[heroTitle][default] = "Become A Partner"
snippetProperties[heroTitle][options][] = ""
==
<section class="hero-wrap hero-wrap-2" style="background-image: url({{'assets/images/bg_4.jpg'|theme}});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Become A Partner</h1>
            </div>
        </div>
    </div>
</section>