<div class="divider is-centered is-spacer"></div>
<!-- Title & subtitle -->
<h2 class="title is-dark is-semibold has-text-centered is-spaced">Frequently Asked Questions</h2>
<h4 class="subtitle is-6 is-dark has-text-centered is-compact">Viderer malorum sadipscing cum ei. Eu impetus perfecto sit, no sea labore detraxit. Primis mediocrem necessitatibus an vis. Ut sea pertinax perpetua, eruditi volumus quaestio ex mel, has ei tota homero.</h4>

<!-- Content wrapper -->
<div class="content-wrapper is-large">
    <div class="columns">
            <!-- Accordion -->
            <div class="accordion">
                <!-- Option -->
                <div class="accordion-option">
                    <input type="checkbox" id="toggle1" class="accordion-toggle" />
                    <label class="accordion-title" for="toggle1">
                        What?
                    </label>
                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div>

                <!-- Option -->
                <div class="accordion-option">
                    <input type="checkbox" id="toggle2" class="accordion-toggle" />
                    <label class="accordion-title" for="toggle2">
                        What?
                    </label>
                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div>

                <!-- Option -->
                <div class="accordion-option">
                    <input type="checkbox" id="toggle3" class="accordion-toggle" />
                    <label class="accordion-title" for="toggle3">
                        Where?
                    </label>
                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div>

                <!-- Option -->
                <div class="accordion-option">
                    <input type="checkbox" id="toggle4" class="accordion-toggle" />
                    <label class="accordion-title" for="toggle4">
                        What ?
                    </label>
                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div>

                <!-- Option -->
                <div class="accordion-option">
                    <input type="checkbox" id="toggle5" class="accordion-toggle" />
                    <label class="accordion-title" for="toggle5">
                        When?
                    </label>
                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div>
            </div>
            <!-- /Accordion -->
    </div>
</div>
<!-- /Content wrapper -->