<section id="merchant-feat" class="section section-feature-grey is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">Great Power Comes </h2>
            <h3 class="subtitle is-5 is-muted">With great Responsability</h3>
            <div class="divider is-centered"></div>
        </div>

        <div class="content-wrapper">
            <div class="columns">
                <div class="column is-one-third">
                    <div class="feature-card is-bordered has-text-centered is-feature-reveal">
                        <div class="card-title">
                            <h4>Grow your business</h4>
                        </div>
                        <div class="card-icon">
                            <img src="{{'assets/img/icons/web.svg'|theme}}">
                        </div>
                        <div class="card-text">
                            <p>A partnership that cares for you and your business.</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="feature-card is-bordered has-text-centered is-feature-reveal">
                        <div class="card-title">
                            <h4>Road Partner</h4>
                        </div>
                        <div class="card-icon">
                            <img src="{{'assets/img/icons/rocket.svg'|theme}}">
                        </div>
                        <div class="card-text">
                            <p>Access to our fleet of drivers that delivers your cooked meals to customers.</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="feature-card is-bordered has-text-centered is-feature-reveal">
                        <div class="card-title">
                            <h4>Reach more customers</h4>
                        </div>
                        <div class="card-icon">
                            <img src="{{'assets/img/icons/light-bulb.svg'|theme}}">
                        </div>
                        <div class="card-text">
                            <p>Let your digital storefront connect you to your customers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>