<div class="hero-body">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-5 is-offset-1 landing-caption">
                <h1 class="title is-1 is-bold is-spaced">
                    Connecting you to a community of diners.
                </h1>
                <div class="button-wrap">
                    <a class="button cta is-rounded primary-btn raised" href="#merchant-feat">
                        Get Started
                    </a>
                    <a href="{{ 'merchant/sign-in'|page }}" class="button cta is-rounded">
                        Sign In
                    </a>
                </div>
            </div>
            <div class="column is-5">
                <figure class="image is-4by3">
                    <img src="{{'assets/img/illustrations/worker.svg'|theme}}" alt="Description">
                </figure>
            </div>

        </div>
    </div>
</div>