<div id="home-download" class="dl-holder">
    <div class="dl-bgcolor" ftco-animate></div>
    <div class="about-center">
      <h4 class="down-load">
        DOWNLOAD
      </h4>
      <div class="about-img">
        <div>
          <img
            src="{{ 'assets/img/goferphone21.png'|theme }}"
            alt="about image"
            class="img-container"
          >
        </div>
      </div>

      <div class="dl-text">
        <h2>Hungry?</h2>
        <h2>A minute is all you need.</h2>
        <a
        class="nav-link"
          href="/"
          id="download-btn">
          <img
            src="{{ 'assets/img/gPlay.png'|theme }}"
            alt="about image"
            class="g-play"
          >
      </a>
      </div>
    </div>
</div>