
  <div class="sc-holder" id="home-howitwork">
    <div class="hiw-bgcolor" data-aos="fade-right" data-aos-once="true"></div>
    <h4 class="hiw-text ftco-animate">
      HOW IT WORKS?
    </h4>
    <div class="slider-holder">
      <div class="slider-for" data-aos="fade-up" data-aos-once="true">
          <div>
            <h3>
              <img loading="lazy" src="{{ 'assets/img/HIW1.png'|theme }}" alt="gofer logo" />
            </h3>
          </div>
          <div>
            <h3>
              <img loading="lazy" src="{{ 'assets/img/HIW2.png'|theme }}" alt="gofer logo" />
            </h3>
          </div>
          <div>
            <h3>
              <img loading="lazy" src="{{ 'assets/img/HIW3.png'|theme }}" alt="gofer logo" />
            </h3>
          </div>
          <div>
            <h3>
              <img loading="lazy" src="{{ 'assets/img/HIW4.png'|theme }}" alt="gofer logo" />
            </h3>
          </div>
      </div>
      <div class="slider-nav" data-aos="fade-left" data-aos-once="true">
          <div class="info-step1 card-1">
            <h5>Step 1</h5>
            <h3>Download the app</h3>
            <p>
              Get the app on
              <a class="">
                Google Play Store
              </a>
            </p>
          </div>
          <div class="info-step1 card-2">
            <h5>Step 2</h5>
            <h3>Search your restaurant</h3>
            <p>Discover various restaurants around the city.</p>
          </div>
          <div class="info-step1 card-3">
            <h5>Step 3</h5>
            <h3>Track your order</h3>
            <p>Track your order using our real-time tracking.</p>
          </div>
          <div class="info-step1">
            <h5>Step 4</h5>
            <h3>Enjoy your meal</h3>
            <p>Dig-in and enjoy!</p>
          </div>
      </div>
    </div>
  </div>